* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Theme Swatches in Hex */
  --primary-color: #7c93c3;
  --secondary-color: #c3ac7c;
  --tertiary-color: #55679c;
  --forth-color: #1e2a5e;
  --fifth-color: #e1d7b7;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --primary-color: #1e2a5e;
  --secondary-color: #c3ac7c;
  --tertiary-color: #7c93c3;
  --forth-color: #55679c;
  --fifth-color: #e1d7b7;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: tahoma, sans-serif;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: white;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--secondary-color);
}

.sec1 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--secondary-color) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: white;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--tertiary-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: rgb(227, 225, 225);
  pointer-events: none;
}

.theme-btn {
  top: 5%;
  right: 3%;
  margin: 0.7rem 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in-out;
  z-index: 10;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.2rem;
  color: rgb(227, 225, 225);
}

/* header content */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--secondary-color);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translate(-5px);
  border: 1px solid var(--fifth-color);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item .skill-list {
  padding-top: 1rem;
  list-style-type: square;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-container .right-about .about-item .skill-list li {
  margin: 0.5rem;
  padding-right: 0.5rem;
}
.about-container .right-about .about-item .about-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .about-text .large-text {
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.left-about {
  padding-right: 5rem;
}
.left-about p {
  line-height: 2rem;
  padding: 1rem;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--secondary-color);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  background-color: var(--secondary-color);
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.6rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item ul li {
  margin: 1rem;
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
}
.portfolios .portfolio-item .image {
  border-radius: 15px;
  height: 200px;
}
.portfolios .portfolio-item .image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .icons .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .icons .icon i {
  font-size: 1.5rem;
  color: white;
  margin: 0 1rem;
}
.portfolios .portfolio-item .icons .icon:hover {
  background-color: white;
}
.portfolios .portfolio-item .icons .icon:hover i {
  color: var(--primary-color);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/* Blogs Section */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.blogs .blog {
  max-width: 300px;
  min-width: 250px;
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
}
.blogs .blog img {
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.blogs .blog:hover {
  box-shadow: 1px 1px 20px rgb(0, 0, 0);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
  max-width: 100%;
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 1px 1px 20px rgb(0, 0, 1);
}
.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: solid 8px var(--primary-color);
}

.contact-content-container {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-container .left-contact {
  flex: 2;
}
.contact-content-container .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
}
.contact-content-container .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-container .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-container .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
}
.contact-content-container .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-container .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-container .left-contact .contact-info .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-container .left-contact .contact-info .contact-icon a {
  display: flex;
  align-items: center;
  color: rgb(227, 225, 225);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  width: 50px;
  height: 50px;
  justify-content: center;
  border-radius: 50%;
  margin: 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-container .left-contact .contact-info .contact-icon a:hover {
  background-color: var(--secondary-color);
}
.contact-content-container .left-contact .contact-info .contact-icon a:hover i {
  color: white;
}
.contact-content-container .left-contact .contact-info .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-container .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-container .right-contact .input-control {
  margin: 1.5rem;
}
.contact-content-container .right-contact .input-control input,
.contact-content-container .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  background-color: var(--fifth-color);
  width: 100%;
  color: white;
  resize: none;
}
.contact-content-container .right-contact .i-c-2 {
  display: flex;
}
.contact-content-container .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-container .right-contact .submit-button {
  display: flex;
  justify-content: flex-start;
}
.contact-content-container .right-contact .submit-button .main-btn {
  margin: 0 auto;
}

/* independent components */
.btn-cont {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--secondary-color);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateX(0);
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--secondary-color);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 80%;
  left: 50%;
  color: var(--fifth-color);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

@media screen and (max-width: 350px) {
  .section {
    padding: 1rem 2rem !important;
  }
}
@media screen and (max-width: 750px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    padding-top: 2rem;
    font-size: 1.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
    grid-template-columns: 1fr;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
  }
  .section {
    padding: 2rem 2rem;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-container {
    flex-direction: column;
  }
  .contact-content-container .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
    padding-bottom: 6rem;
  }
  .contact-content-container .left-contact {
    margin: 0 auto;
  }
  .contact-content-container .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-container .right-contact .i-c-2 :last-child {
    flex-direction: column;
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .main-title h3 {
    font-size: 1rem;
  }
  .main-title h3 span {
    font-size: 1rem;
  }
  .main-title h3 .bg-text {
    font-size: 1rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(83, 103, 156, 0.5); /* 50% transparent */
    transform: translateX(-50%);
  }
  .controls .control {
    margin: 1rem;
    height: 35px;
    width: 35px;
  }
  .theme-btn {
    top: 5%;
    right: 3%;
    width: 35px;
    height: 35px;
    z-index: 10;
  }
  .submit-button .main-btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .left-header .h-shape {
    display: none;
  }
}
@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .contact-content-container {
    flex-direction: column;
  }
  .contact-content-container .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
    padding-bottom: 6rem;
  }
  .contact-content-container .left-contact {
    margin: 0 auto;
  }
  .contact-content-container .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-container .right-contact .i-c-2 :last-child {
    flex-direction: column;
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .submit-button .main-btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1254px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .section {
    padding: 3rem 5rem;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2rem;
  }
  .main-title h2 .bg-text {
    font-size: 2rem;
  }
  .submit-button .main-btn {
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */