* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Theme Swatches in Hex */
  --primary-color: #7c93c3;
  --secondary-color: #c3ac7c;
  --tertiary-color: #55679c;
  --forth-color: #1e2a5e;
  --fifth-color: #e1d7b7;

  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: tahoma, sans-serif;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: white;
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--secondary-color);
}

.sec1 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  background-color: var(--tertiary-color);
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  background-color: var(--forth-color);
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  background-color: var(--tertiary-color);
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  background-color: var(--primary-color);
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }

    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}

// controls

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active-btn {
    background-color: var(--secondary-color) !important;
    transition: all 0.4s ease-in-out;
    i {
      color: white;
    }
  }
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--black-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1.2rem;
      color: rgb(227, 225, 225);
      pointer-events: none;
    }
  }
}
